<p>
  {{link-to "Option-expiration list" "option-expirations.index" }}
</p>

<h1>Option-expiration show</h1>

<p>
  <strong>Date:</strong>
  <span>{{model.date}}</span>
</p>

<p>
  <strong>Stock:</strong>
  <span>{{model.stock}}</span>
</p>

