<h1> Routes:</h1>


<h2>user</h2>
<ul>
  <li>{{#link-to 'user.profile'}}user.profile{{/link-to}}</li>
  <li>{{#link-to 'user.balances'}}user.balances{{/link-to}}</li>
  <li>{{#link-to 'user.positions'}}user.positions{{/link-to}}</li>
  <li>{{#link-to 'user.history'}}user.history{{/link-to}}</li>
  <li>{{#link-to 'user.gainloss'}}user.gainloss{{/link-to}}</li>
  <li>{{#link-to 'user.orders'}}user.orders{{/link-to}}</li>
</ul>

<h2>accounts</h2>
<ul>
  <li>{{#link-to 'accounts.balances'}}accounts.balances{{/link-to}}</li>
  <li>{{#link-to 'accounts.positions'}}accounts.positions{{/link-to}}</li>
  <li>{{#link-to 'accounts.history'}}accounts.history{{/link-to}}</li>
  <li>{{#link-to 'accounts.gainloss'}}accounts.gainloss{{/link-to}}</li>
  <li>{{#link-to 'accounts.orders'}}accounts.orders{{/link-to}}</li>
</ul>

<h2>trading</h2>
<ul>
  <li>{{#link-to 'trading.orders'}}trading.orders{{/link-to}}</li>
</ul>

<h2>market</h2>
<ul>
  <li>{{#link-to 'market.quotes'}}market.quotes{{/link-to}}</li>
  <li>{{#link-to 'market.timeandsales'}}market.timeandsales{{/link-to}}</li>
  <li>{{#link-to 'market.option-chains'}}market.option-chains{{/link-to}}</li>
  <li>{{#link-to 'market.option-strikes'}}market.option-strikes{{/link-to}}</li>
  <li>{{#link-to 'market.option-expirations'}}market.option-expirations{{/link-to}}</li>
  <li>{{#link-to 'market.history'}}market.history{{/link-to}}</li>
  <li>{{#link-to 'market.clock'}}market.clock{{/link-to}}</li>
  <li>{{#link-to 'market.calendar'}}market.calendar{{/link-to}}</li>
  <li>{{#link-to 'market.search'}}market.search{{/link-to}}</li>
  <li>{{#link-to 'market.lookup'}}market.lookup{{/link-to}}</li>
  <li>{{#link-to 'market.events.session'}}market.events.session{{/link-to}}</li>
</ul>

<h2>watchlists</h2>
<ul>
  <li>{{#link-to 'watchlists'}}watchlists{{/link-to}}</li>
</ul>


{{outlet}}
